# Ignore environment variable files
.env
.env.*

# Ignore node_modules and build outputs
node_modules/
dist/
build/

# Ignore log files
*.log

# Ignore OS and IDE files
.DS_Store
Thumbs.db
.vscode/

# hello my name Samir yo yo